#SpeakerSlide {
  margin-top: 50px;
    padding: 50px 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: #000;
  }
  
  .slide-container {
    display: flex;
    animation: scroll 24s linear infinite;
    width: 80%;
  }
  
  .slider {
    min-width: 200px; 
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #001f2d 0px 18px 45px -1px;
    border-radius: 25px;
    padding: 10px;
  }
  
  .slide-image {
    width: 150px;
    height: 150px; 
    /* background-color: #ddd;  */
    border: 4px solid #50ff73;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .slide-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  
  .slide-txt h5, .slide-txt h6 {
    margin: 5px 0;
    text-align: center;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  